div#my-popup {
    margin: 70px auto;
    padding: 30px 50px 30px 50px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px!important;
    border: 3px solid #e91e63;
    box-shadow: 18px 20px 10px -10px #ddd;
}

.marbtt {
	margin-bottom: 40px;
}

input#checkin {
    width: 95%;
}

select#booking-children, select#ticket {
    border-radius: 0;
    border-color: #00bcb800;
    border-width: 0 0 1px 0;
    border-style: none none solid none;
    box-shadow: none;
    border-radius: 0!important;
    font-size: 16px;
    display: block;
    width: 95%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff0;
    background-image: none;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
input#booking-adult,input#nation {
    width: 95%;
}

select#booking-local, select#rquest,select#with {
    border-radius: 0;
    border-color: #00bcb8;
    border-width: 0 0 1px 0;
    border-style: none none solid none;
    box-shadow: none;
    border-radius: 0!important;
    font-size: 16px;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff0;
    background-image: none;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
select:focus, input:focus{
    outline: none;
}

select#rquest, input#booking-children {
    width: 95%;
}

.col-sm-6.col-xs-12.active-input {
    padding: 0;
}
@media (max-width: 767px) {
select#booking-children, select#ticket, input#booking-adult, input#checkin, input#nation, select#rquest, input#booking-children{
	width: 100%;
}
.marbtt {
	margin-bottom: 20px
}
}

div#optionres {
    color: #ea1e62;
}
