.wow:first-child {visibility: hidden;}@media (max-width:480px){.triangle #banner,.triangle #banner .banner-bg,.triangle #banner .banner-bg-item{height:450px!important;}.content_header_contact {
    margin-top: 100px;
  }}