button.btn.bookit {
    background-color: #ea1e62;
    border: 1px solid #ff9801;
    color: #fff;
    margin-right: 20px;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 20px;
    padding-right: 20px;    margin-bottom: 5px;
}
button.btn.bookit:hover {
    background-color: #ff9801;
    border: 1px solid #ea1e62;
    color: #fff;
    margin-right: 20px;
}
button.btn.moreit {

    background-color: #ff9801;
    border: 1px solid #ea1e62;
    color: #fff;
    margin-right: 20px;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 20px;
    padding-right: 20px;
}
button.btn.moreit:hover {
    background-color: #ea1e62;
    border: 1px solid #ff9801;
    color: #fff;
}
.info-tiket {
    text-align: center;
    background-color: #fff;
    background: #FFF;
    -webkit-border-bottom-left-radius: .5125rem;
    -moz-border-bottom-left-radius: .5125rem;
    border-bottom-left-radius: .5125rem;
    -webkit-border-bottom-right-radius: .5125rem;
    -moz-border-bottom-right-radius: .5125rem;
    border-bottom-right-radius: .5125rem;
    -webkit-box-shadow: 0 0 0.5625rem rgba(0,0,0,.15);
    -moz-box-shadow: 0 0 .5625rem rgba(0,0,0,.15);
    box-shadow: 0 0 0.5625rem rgba(0,0,0,.15);
}
p.detail-icon {
    font-size: 20px;
    margin: 10px;
    color: #ea1e62;
}
p.detail-title {
    font-size: 18px;
    text-decoration: underline;
    color: #111;
    margin-bottom: 5px;
}
p.detail-content {
    line-height: 1.4;
    margin-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
    color: #777;
}
.info-tiket {
    padding: 20px;
}
.row.container-shopping2 {
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    padding-top: 50px;
    padding-bottom: 50px;
}

img.img-ticket {
    border: 0px solid #111;
    border-top-left-radius: 250px 100px;
    border-top-right-radius: 250px 100px;
}
.item-ticket {
    margin-top: 30px;
}
p.icon-font {
    font-size: 35px;
    color: #111;
    padding-bottom: 5px;
}
p.sdt {
    color: #111;
    font-size: 15px;
    height: 55px;
}
h1.title.nd {
    margin-top: 50px;
}
p.title-video {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #ea1e62;
}
.nd-video>p {
    padding-bottom: 10px;
}
.col-sm-6.border {
    border-left: 1px solid #ccc;
}
p.phone {
    color: #428bca;
}
button.btn.moreit>a {
    color: #fff;
}


.event-info1 {
    border-bottom: 5px solid #3a53a4;
    padding: 20px;
    box-shadow: 0px 1px 5px 2px #9e9e9e42;
    background-color: #fff;
    text-align: center;
}
.event-info2 {
    border-bottom: 5px solid #3a53a4;
    padding: 20px;
    box-shadow: 0px 1px 5px 2px #9e9e9e42;
    background-color: #fff;
    text-align: center;
}
.event-info3 {
    border-bottom: 5px solid #3a53a4;
    padding: 20px;
    box-shadow: 0px 1px 5px 2px #9e9e9e42;
    background-color: #fff;
    text-align: center;
}
.event-info4 {
    border-bottom: 5px solid #3a53a4;
    padding: 20px;
    box-shadow: 0px 1px 5px 2px #9e9e9e42;
    background-color: #fff;
    text-align: center;
}
.inner-banner {
    width: 250px;
    position: absolute;
    top: 25%;
    right: 0%;
    padding: 20px;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    text-align: center;
    z-index: 999;
     border-bottom: 5px solid #ea1e62;
    padding: 20px;
    box-shadow: 0px 1px 5px 2px #9e9e9e42;
    background-color: #fff;
    text-align: center;
}
button.btn.bookit1 {
    background-color: #ea1e62;
    border: 1px solid #ff9801;
    color: #fff;
    padding-top: 7px;
    padding-left: 20px;
    padding-right: 20px;
}
button.btn.bookit1:hover {
    background-color: #ff9801;
    border: 1px solid #ea1e62;
    color: #fff;
    padding-top: 7px;
    padding-left: 20px;
    padding-right: 20px;
}
p.title-event {
    color: #2b92d3;
    font-size: 20px;
}
p.sdt1 {
    color: #111;
    font-size: 15px;
    height: 48px;
}
@media only screen and (max-width: 481px) {
.inner-banner {
    width: 250px;
    position: absolute;
    top: 60%;
    padding: 20px;
    z-index: 999;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.col-sm-12.show-event-small {
    padding-left: 0;
    padding-right: 0;
}


}

/*.inner-banner:before,
.inner-banner:after{
    content: '';
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    border: dashed 2px #ea1e62;
    z-index: -1;
}*/

.agenda {
    text-align: center;
}
.col-sm-12.show-event-small {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
}



/* add schedule*/


.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.info {
  width: 100%;
  max-width: 895px;
  margin: 50px auto;
}

.code {
  background: #dfdfdf;
  padding: 10px;
  color: #9e9e9e;
  font-size: 12px;
  border-radius: 3px;
}

#schedule {
  width: 101%;
  margin: 0 auto;
  background: #fff;
  display: flex;
  position: asbolute;
}

.s-legend {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
}
.s-legend .s-head-info {
  height: 100%;
}
.s-legend .s-name {
  margin: 10px auto;
}
.s-legend .s-week-day {
  height: 100%;
  position: relative;
  box-shadow: inset 0 1px 0 0.5px #f5f5f5;
}
.s-legend .s-week-day .s-day {
  width: 100%;
  margin: 18px auto;
}

.s-head-info {
  font-weight: 900;
  max-height: 50px;
  position: relative;
  width: 100%;
}

.s-wrapper {
  display: flex;
}

.s-block {
  display: block;
  text-align: center;
}

.s-week-day {
  min-width: 50px;
  max-width: 150px;
  width: 100%;
}

.s-cell {
  text-align: center;
}

.s-container {
  width: 100%;
  overflow: auto;
     overflow-y: hidden;
}
.s-container .s-head-info {
  align-items: center;
  display: flex;
     border-bottom: 1px solid #eee;
}
.s-container .s-head-info .s-head-hour {
  width: 100%;
  height: 55px;
  max-height: 55px;
  padding: 0px 0;
  min-width: 76.5px;
  border-left: 1.2px solid #e9e9e9;
}
.s-container .s-head-info .s-head-hour .s-number {
  font-size: 15px;
}
.s-container .s-head-info .s-head-hour .s-hourly-interval {
  color: #cccccc;
  font-size: 8px;
}
.s-container .s-rows-container {
  display: flex;
  position: relative;
}
.s-container .s-rows-container .s-activities {
  position: absolute;
  width: 100%;
  height: 100%;
}
.s-container .s-rows-container .s-activities .s-act-row {
  position: relative;
  
     height: 52.4px;
     margin-top: 14px;
    border-bottom: 1px dashed #eee;
}
.s-container .s-rows-container .s-activities .s-act-row .green {
  background: linear-gradient(to right, #00b09b, #96c93d);
}
.s-container .s-rows-container .s-activities .s-act-row .orange {
  background: linear-gradient(to right, #F2994A, #F2C94C);
}
.s-container .s-rows-container .s-activities .s-act-row .red {
  background: linear-gradient(to right, #CB356B, #BD3F32);
}
.s-container .s-rows-container .s-activities .s-act-row .yellow {
  background: linear-gradient(to right, #fffc00, #fffc00);
}
.s-container .s-rows-container .s-activities .s-act-row .blue {
  background: linear-gradient(to right, #36D1DC, #5B86E5);
}
.s-container .s-rows-container .s-activities .s-act-row .pink {
  background: linear-gradient(to right, #834d9b, #d04ed6);
}
.s-container .s-rows-container .s-activities .s-act-row .black {
  background: linear-gradient(to right, #000428, #004e92);
}
.s-container .s-rows-container .s-activities .s-act-row .s-act-tab {
  height: 45px;
  padding: 15px;
  border-radius: 3px;
  position: absolute;
  top: 5px;
}
.s-container .s-rows-container .s-activities .s-act-row .s-act-tab .s-wrapper {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.s-container .s-rows-container .s-activities .s-act-row .s-act-tab .s-act-teacher, .s-container .s-rows-container .s-activities .s-act-row .s-act-tab .s-act-room, .s-container .s-rows-container .s-activities .s-act-row .s-act-tab .s-act-group {
  font-size: 7px;
  color: white;
  position: absolute;
  margin: 1px;
}
.s-container .s-rows-container .s-activities .s-act-row .s-act-tab .s-act-group {
  bottom: 0;
  left: 0;
}
.s-container .s-rows-container .s-activities .s-act-row .s-act-tab .s-act-name {
  color: white;
}
.s-container .s-rows-container .s-activities .s-act-row .s-act-tab .s-act-teacher {
  left: 0;
  top: 0;
}
.s-container .s-rows-container .s-activities .s-act-row .s-act-tab .s-act-room {
  top: 0;
  right: 0;
}

.s-hour-row {
  height: 100%;
  width: 100%;
  min-width: 76.5px;
}
.s-hour-row .s-hour-wrapper {
  display: flex;
}
.s-hour-row .s-hour-wrapper .s-half-hour:nth-child(2) {
  border-left: 0.5px solid #e9e9e9;
}
.s-hour-row .s-hour-wrapper .s-half-hour {
  width: 50%;
  height: 55px;
  border-left: 1.2px solid #e9e9e9;
}

@media only screen and (max-width: 480px) {
  .s-legend {
    width: 100px;
  }
}
.s-container .s-rows-container .s-activities .s-act-row .s-act-tab {
    height: 50px;
    padding: 15px;
    border-radius: 2px;
    position: absolute;
    top: 2px;
}
.s-container .s-head-info .s-head-hour .s-hourly-interval {
    color: #f29f4a;
    font-size: 10px;
}


.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}